<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      text-align: center;
    }
  
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
      margin: auto; /* Center the table */
      top: 50px;
    }
  
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  
</head>
<body>

<table1>

  
  <tr>
    <td>Customer Name : {{ filtered_orders.first.customer.customer_name }}</td>
  </tr>
</table1>

<table>
  <tr>
    <th>Food Name</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

  {% for order in filtered_orders %}
  <tr>
    <td>{{ order.food.name }}</td>
    <td>{{ order.quantity }}</td>
    <td>{{ order.total }}</td>
  </tr>
  {% endfor %}
  <tr>

    <td colspan="3" style="text-align: right;">Total: {{ total_price }}</td>
  </tr>

</table>

</body>
</html>
