<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/reservation.css'%}"> 

    <title>Kwickmeal - Reservation</title>
</head>
<body>

<div class="reservation-form">
    <h2>Reservation Form</h2>
    <form class="form" id="reservationForm" action="{% url  'reservation' %}" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" class="input" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" required>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required>

        <label for="guests">Number of Guests:</label>
        <select id="guests" name="guests" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <!-- Add more options as needed -->
        </select>

        <button type="submit">Reserve Table</button>
    </form>
</div>

</body>
</html>